name: PulseOps CI/CD

on:
  push:
    branches:
      - develop

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Make scripts executable
        run: chmod +x scripts/*.sh

      - name: Build Docker image
        run: ./scripts/build.sh
        env:
          IMAGE_NAME: ${{ secrets.IMAGE_NAME }}

      - name: Push Docker image
        run: ./scripts/push.sh
        env:
          IMAGE_NAME: ${{ secrets.IMAGE_NAME }}
          DOCKER_PUSH: ${{ secrets.DOCKER_PUSH }}
